:root{
    --mainColor: #f6f6f6;
    --darkBlack: #2d2d2d;
    --darkGrey: #616161;
    --grey: #d5d5d5;
    --lightGrey: #f2f2f2;
    --yellow: #fecbfe;
    --green: #fecbfe;
    --purple: #df113c;
    --orange: #df113c;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

body{
    width: 100%;
    height: auto;
    color: var(--darkBlack);
}
p{
    font-size: 14px;
}
.label-cart{
    position: fixed;
    top: 15;
    right: 10;
    z-index: 4;
    cursor: pointer;
}
.logo{
    position: fixed;
    font-size: 2rem;
    color: darkorange;
    border-color: var(--orange);
    width: 100%;
    text-align: center;
    padding: 15px 420px 15px 60px;
    top: 0;
    z-index: 2;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100px;
    border-color: var(--mainColor);
    z-index: 1;
    padding-top: 70px;
}
.sidebar-menu{
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: var(--orange);
}
.sidebar-menu > a{
    text-decoration: none;
    font-size: 0.7rem;
    line-height: 1.5;
    color: var(--darkGrey);
}
.sidebar-menu:hover{
    border-right: 2px solid var(--green);
    color: var(--yellow);
}
.sidebar-menu:hover > a{
    color: var(--yellow);
}

.dashboard{
    height: 100%;
    width: 100%;
    padding-right: 360px;
    padding-left: 60px;
}
.dashboard-banner{
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
}
.dashboard-banner > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.banner-promo{
    position: absolute;
    font-size: 0.8rem;
    /* color: var(--purple); */
    color: #df113c;
    top: 40%;
    left: 3%;
    font-weight: 200;
}
.banner-promo > h1 > span{
    color: #f2f2f2;
}

.dashboard-title{
    padding: 0 1rem;
    color: darkgoldenrod;
}
.dashboard-menu{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}
.dashboard-menu > a{
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 120px;
    padding: 0.5rem 0;
    color: darkgoldenrod;
    background-color: #616161;
}
.dashboard-menu > a:hover{
    background-color: darkturquoise;
    color: #df113c;
}

.dashboard-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
}
.dashboard-card{
    background-color: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.dashboard-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
.card-detail{
    padding: 10px;
}
.card-detail > h4 > span{
    float: right;
} 
.card-time{
    color: #2d2d2d;
    font-size: 0.8rem;
    padding-top: 10px;
}

.dashboard-order{
    width: 340px;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem 1.5rem;
    background-color: var(--mainColor);
    z-index: 3;
}
.dashboard-order > h3{
    padding: 10px 0;
}
.order-address > h4{
    line-height: 2;
}
.order-time{
    font-size: 0.8rem;
    color: var(--darkGrey);
}

.order-wrapper{
    height: 180px;
    width: 100%;
    overflow-y: scroll;
    margin: 20px 0;
}

/* custom scroll */

.order-wrapper::-webkit-scrollbar{
    width: 7px;
}
.order-wrapper::-webkit-scrollbar-track{
    background-color: #d5d5d5;
    border-radius: 20px;
}
.order-wrapper::-webkit-scrollbar-thumb{
    background-color: #616161;
    border-radius: 20px;
}

.order-card{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.5fr;
    padding: 10px 0;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-start;
}
.order-image{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}
.order-detail > input{
    width: 35px;
    height: 35px;
    text-align: center;
    border: 2px solid var(--grey);
    border-radius: 10px;
    border-color: transparent;
    margin-left: 10px;
}

.divider{
    width: 100%;
    border: 1px dashed var(--grey);
}
.order-total > p{
    padding: 10px 0;
}
.order-total > p >span{
    float: right;
    font-weight: 600;
}


.order-promo{
    display: flex;
    height: 45px;
    margin: 5px 0 10px 0;
    padding: 0 5px;
    align-items: center;
    border: 2px solid var(--grey);
    border-radius: 10px;
    background-color: #fff;
    justify-content: space-between;
}
.input-promo{
    height: 100%;
    background-color: transparent;
    border: none;
}
.button-promo{
    float: right;
    height: 80%;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: darkgreen;
    color: #f6f6f6;
}
.checkout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    text-align: center;
    background-color: coral;

}
.checkout:hover{
    text-transform: uppercase;
    font-weight: 600;
}

#cart:checked ~ .label-cart{
    color: #000;
}
#cart:checked ~ .dashboard{
    padding-right: 10px;
}
#cart:checked ~ .dashboard-order{
    display: none;
}
#cart:checked ~ .logo{
    padding-right: 0px;
}

@media screen and (max-width: 680px) {
    .dashboard{
        padding-right: 0;
    }
    .dashboard-order{
        width: 100%;
        left: 0;
    }
}


/* Add to section */

.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .Shopping{
    position: relative;
    text-align: right;
}
header .Shopping img{
    width: 40px;
}
header .Shopping span{
    background-color: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.card{
    position: fixed;
    top: 0;
    left: calc(100% - 500px);
    width: 500px;
    border-color: #616161;
    height: 100vh;
    transition: 0.5s;
}
.card h1{
    color: chartreuse;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card .checkout div{
    background-color: chartreuse;
    width: 100%;
}

